.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px solid #606e85;
  padding: 10px;

  border-radius: 5px;
}

.score-container__logo {
  width: 70px;
  height: 70px;
}

@media (min-width: 768px) {
  .score-container__logo {
    width: 90px;
    height: 90px;
  }

  .score-container {
    max-width: 705px;

    margin: 0 auto;
    padding: 15px 25px 15px 30px;
  }
}

@media (min-width: 1024px) {
  .score-container {
    position: relative;
    z-index: 10;
  }
}