.game-container{
  max-width: 320px;

  background-image: url('../../images/bg-pentagon.svg');
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 50px auto 30px auto;
}

.game-row {
  display: flex;
}

.game-row--first {
  justify-content: center;
}

.game-row--second {
  justify-content: space-between;
}

.game-row--third {
  justify-content: space-around;

  margin-top: 20px;
}

.circle {
  width: 72px;
  height: 72px;
  background-color: red;
  border-radius: 50%;
}