.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 320px;
  margin: 90px auto 7px auto;
}

.result-circle {
  width: 95px;
  height: 95px;

  border-radius: 50%;

  background-color: #192845;
}

@media (min-width: 768px) {
  .results-container {
    max-width: 420px;

    margin-bottom: 0;
  }

  .result-circle {
    width: 190px;
    height: 190px;
  }
}

@media (min-width: 1024px) {
  .results-container {
    margin-top: 50px;
  }
}